@import "tailwindcss";

:root {
  font-family: var(--font-mitr), sans-serif !important;
}

* {
  font-family: var(--font-mitr), sans-serif !important;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #030712;
  color: #f8fafc;
}